.projectCard {
    transition: all 0.3s ease-in-out;
    padding: 1.6rem;
    border: 0.2rem solid #333;
    text-align: center;
    border-radius: 2rem;
}
.cprojectCard:hover {
    scale: 1.02;
    transition: all 0.3s ease-in-out;
}
.cardImage {
    width: 36rem;
    height: 36rem;
}
.cardImage img {
    object-fit: cover;
    border-radius: 1.6rem;
}
.card-header {
    margin: 1rem 0 2rem;
}
.card-header h1 {
    font-size: 2.4rem;
}
.btns {
    margin: 0 auto;
    gap: 2.5rem;
}
.card-btn {
    width: 16rem;
    border-radius: 10rem;
    border: 0.1rem solid #353535;
    height: 5rem;
    font-weight: 900;
    font-family: 'satoshi';
    cursor: pointer;
}
.card_btn-text {
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.card-btn:hover {
    color: #FFF;
    background: #353535;
    transition: all 300ms ease-in-out;
}

@media screen and (max-width: 1023px) {
    .cardImage {
        width: 40rem;
        height: 36rem;
    }
}

@media screen and (max-width: 650px) {
    .cardImage {
        width: 40rem;
        height: 35rem;
    }
}

@media screen and (max-width: 485px) {
    
}