.footer-wrapper {
    background: #151515;
    padding: 4rem 0 8rem;
}
.footer-container p {
    color: #FFF;
    font-family: 'satoshi';
}
.footer-container nav {
    margin: 0 auto 2rem;
}
.footer-nav-list {
    gap: 3rem;
}
.footer-nav-list li a h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-family: 'satoshi-medium';
    color: #FFF;
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 650px) {
    .footer-nav-list li a h3 {
        font-size: 2rem;
        line-height: 2.4rem;
        font-family: 'satoshi-medium';
    }
    .footer-nav-list {
        flex-direction: column;
    }
}

@media screen and (max-width: 485px) {
    
}