.footer-wrapper {
    background: #000;
    padding: 4rem 0 8rem;
}
.footer-container p {
    color: #FFF;
    font-family: 'satoshi';
}
.footer-container nav {
    padding: 0 4rem;
    margin-bottom: 3.2rem;
}
.logo a h1 {
    font-size: 3.6rem;
    line-height: 4.8rem;
    font-family: 'satoshi-bold';
    color: #4581F9;
}

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 650px) {
    .footer-nav-list li a h3 {
        font-size: 2rem;
        line-height: 2.4rem;
        font-family: 'satoshi-medium';
    }
    .footer-nav-list {
        flex-direction: column;
    }
}

@media screen and (max-width: 485px) {
    
}