#header-sm {
    display: none;
}
.header {
    padding: 2.4rem 12rem 4rem;
    justify-content: space-between;
}
.logo h1 {
    font-size: 4.8rem;
    line-height: 7.2rem;
    font-family: 'satoshi-bold';
    color: #4581F9;
}
.nav-list {
    gap: 2rem;
}
.nav-list-item {
    border-radius: 10rem;
    height: 5.6rem;
    width: 16rem;
    display: flex;
    transition: all 300ms ease-in-out;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #4581F9;
}
.nav-list-item:hover {
    background: #7393e9;
    transition: all 300ms ease-in-out;
}
.nav-list li a h3 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: 'satoshi-bold';
    color: white;
    font-weight: 900;
}

@media screen and (max-width: 1023px) {
    .nav-list li a h3 {
        font-size: 2rem;
        line-height: 3rem;
    }
}
  
@media screen and (max-width: 650px) {
    #header-lg {
        display: none;
    }
    #header-sm {
        display: block;
    }
    .logo-sm-container {
        padding: 2.4rem;
    }
    .logo_mob {
        position: relative;
        top: 0.85rem;
        left: -1.5rem;
    }
    .logo_mob a h1 {
        font-size: 4.8rem;
        line-height: 7.2rem;
        font-family: 'satoshi-bold';
        color: #4581F9;
    }
    .contact-btn {
        border-radius: 10rem;
        height: 4.5rem;
        width: 13.5rem;
        display: flex;
        transition: all 300ms ease-in-out;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #4581F9;
    }
    .contact-btn a h3 {
        color: #FFF;
        font-family: 'satoshi-bold';
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .closeIcon {
        position: absolute;
        top: 3.5rem;
        right: 3.5rem;
        width: 4rem;
    }
    .hamburger {
        display: none;
    }
    .nav-list {
        flex-direction: column;
        margin-top: 4rem;
        gap: 3rem;
    }
    .mob-nav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fbfbfd;
        overflow-x: hidden;
        transition: 0.7s;
    }
    .mob-nav-container {
        justify-content: unset;
        margin: -2.4rem auto 0;
        width: 100%;
        padding: 1.6rem;
    }
}

@media screen and (max-width: 485px) {

}